@import "./src/sass/variables";
body {
  background-color: #F8F9FF;
  margin: 0;
  font-family: $primaryFontMedium;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}